<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>TITLE</title>
</head>
<body>
<header th:replace="fragments/general :: navbar"></header>
<div class="container">
    <main>
        <div class="col-lg-8">
            <h1>HEADER</h1>
            <form class="row g-3" th:action="@{}" method="post" th:object="${}">
                <input type="hidden" th:field="*{}"/>
                <div class="col-8">
                    <label class="form-label" for="">TABLEHEAD</label>
                    <input class="form-control" placeholder="" id="" type="" th:field="*{}"/>
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="">TABLEHEAD</label>
                    <input class="form-control" placeholder="" id="animalSpecies" type="" th:field="*{}">
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="">TABLEHEAD</label>
                    <input class="form-control" id="" type="" th:field="*{}"/>
                </div><br>
                <div class="col-10">
                    <input value="" type="" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </main>

    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>