.nav-link {
    border: black;
    border-radius: 12px;
    margin-right: 4px;
    color: white;
}

header {
    background-color: #b6d2e0;
}

.btn-primary{
    background-color: #b6d2e0;
    border: none;
}

.nav-link:hover{
    background-color: #8FAFBF;
    color: white;
}

.btn-primary:hover {
    background-color: #8FAFBF;
}

.btn-secondary {
    background-color: #a8b4bf;
    border: none;
}

.hyperlink-no-styling {
    color: black;
    text-decoration: none;
}

.hyperlink-no-styling:hover {
    color: black;
}

.card-header {
    background-color: #b6d2e0;
    color: white;
    font-size: larger;
}

.list-group-flush {
    border-bottom: 1px solid;
    border-bottom-color: #dee2e6;
}


