/*
 * Base Structure
 */

body {
    background-color: white;
}

header {
    background-color: #ACD199;
}

.nav-link {
    border: black;
    border-radius: 12px;
    margin-right: 4px;
    color: white;
}

.nav-link:hover{
    background-color: #8DAD7D;
    color: white;
}

.container::after {
    display: block;
    clear: both;
}

.errormessage {
    -webkit-text-fill-color: #ff0000;
}

.hyperlink-no-styling {
    color: black;
    text-decoration: none;
}

.hyperlink-no-styling:hover {
    color: black;
}

.link-highlighted {
    background-color: #8DAD7D;
}

/*
 * General Buttons
 */

.btn-primary{
    background-color: #ACD199;
    color: white;
    border: none;
    font-size: larger;
}

.btn-primary:hover {
    background-color: #8DAD7D;
}

.btn-secondary {
    background-color: #a8b4bf;
    border: none;
    font-size: larger;
}

.submit-button {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    border: #ACD199 solid;
}

.submit-button:hover {
    border-style: solid;
    border-color: #8DAD7D;
    color: black;
}

.cancel-button {
    background-color: transparent;
    border-color: #ACD199;
    border-style: solid;
    color: black;
}

.cancel-button:hover {
    border-style: solid;
    border-color: #8DAD7D;
    color: black;
    background-color: transparent;
}


/*
 * Tables and Lists
 */

.table {
    border-color: transparent;
}

.th-sm {
    width: 10rem;
}

.list-group-flush {
    border-bottom: 1px solid;
    border-bottom-color: #dee2e6;
}

.list-group-item-action:hover {
    cursor: pointer;
}

li.active{
    background-color: #d6edca !important;
    border: none;
}

/*
 * Animal Overview Page
 */

.animal-container {
    display:flex;
    flex-direction: row;
}

.animal-overview-background-card {
    background-color: #d6edca;
}

.animal-overview-header {
    background-color: #ACD199;
    padding: 10px;
}

.heart-img{
    width: 25px;
    height: 25px;
}

.heart-outline:hover {
    filter: invert(24%) sepia(90%) saturate(6826%) hue-rotate(356deg) brightness(102%) contrast(124%);;
}


.heart-img-clicked {
    filter: invert(24%) sepia(90%) saturate(6826%) hue-rotate(356deg) brightness(102%) contrast(124%);
}
.heart-outline.heart-img-clicked:hover {
    filter: invert(76%) sepia(1%) saturate(0%) hue-rotate(134deg) brightness(96%) contrast(89%);;
}

.heart-overlay {
    position: absolute;
}
.heart-outline {
    position: absolute;
    bottom: 0;
    margin-right: 25px;
    margin-bottom: 6px;
}

.animal-overview-report-issue-btn {
    background-color: #ACD199;
    border: none;
    color: black;
    padding: 1rem 2rem;
    border-radius: 0;
    font-weight: 500;
    font-size: 1.3rem;
}

.animal-overview-report-issue-btn:hover {
    background-color: #8DAD7D;
}


/*
 * Animal Cards
 */

.card {
    padding: 20px;
    text-align: center;
    margin-left: 20px;
    border: none;
}

.card-header {
    background-color: #ACD199;
    color: white;
    font-size: larger;
}

.overview-card {
    background-color: #ACD199;
}

.overview-card:hover {
    background-color: #8DAD7D;
}

.card-body {
    padding-top: 1px;
}

.card-img {
    object-fit: cover;
    width:230px;
    height:230px;
}

/*
 * Filter and Search Bar
 */

.filter-column {
    margin-left: 50px;
    margin-top: 16px;
}

.filter-column ul{
    list-style-type: none;
}

.filter-column-header {
    background-color: #ACD199;
    color: white;
    font-size: larger;
    padding: .5rem 1rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.all-items-button {
    text-decoration: none;
    width: 300px;
    text-align: left;
}

.all-animals-button {
    width: 35%;
}

.animal-search-bar {
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.animal-search-list {
    width: 15%;
}


/*
 * Animal Details Page
 */

.animal-details-background-card {
    background-color: #d6edca;
}

.animal-details-img {
    object-fit: cover;
    width:400px;
    height:400px;
}

.animal-details-info-table-header {
    background-color: #ACD199;
    padding: 10px;
}

.animal-details-info-table {
    background-color: #c8e3ba;
    border: #ACD199;
    border-radius: 1px;
    padding: 0;
}

.animal-details-report-issue-btn {
    background-color: #ACD199;
    border: none;
    color: black;
    padding: 1rem 2rem;
    border-radius: 0;
    font-weight: 500;
    font-size: 1.3rem;
}

.margin-report-btn {
    margin-right: 120px;
}

/*
 * Animal Details Comments
 */

.animal-comments{
    background-color: #ACD199;
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    height: 150px;
}

/*
 * Report Details Page
 */

.report-details-background-card {
    background-color: #d6edca;
}

.report-details-info-table-header {
    background-color: #ACD199;
    padding: 10px;
}

.report-details-info-table {
    background-color: #c8e3ba;
    border: #ACD199;
    border-radius: 1px;
    padding: 0;
}


/*
 * Report Form Page
 */

.report-form-background-card {
    background-color: #d6edca;
}

.report-form-info-table-header {
    background-color: #ACD199;
    padding: 10px;
}

.report-form-info-table {
    background-color: #c8e3ba;
    border: #ACD199;
    border-radius: 1px;
    padding: 0;
}

.select2-selection--single {
    height: 38px !important;
    padding-top: 4px;
}
.select2-selection__arrow {
    margin-top: 4px !important;
}


/*
 * Report Status Icons
 */

.priority-mark {
    font-size: 20px;
    font-weight: bold;
}

.bi-exclamation-diamond-fill {
    text-shadow: 0 0 5px black;
}

.svg-img {
    width: 25px;
    height: 25px;
}


/*
 * Accounts and Account Details Page
 */

.user-container {
    display:flex;
    flex-direction: row;
}

.account-background-card {
    background-color: #d6edca;
}

.account-list-group {
    background-color: #e9f2e4;
}

.account-info-table-header {
    background-color: #ACD199;
    padding: 10px;
}

.account-info-table {
    background-color: #ecf7e6;
    border: #ACD199;
    border-radius: 1px;
    padding: 0;
    height: fit-content;
}


/*
 * About Page
 */

.about-contact-info {
    display:flex;
    flex-direction: row;
}

.aboutText {
    padding-left: 40px;
}

.about-background-card {
    background-color: #d6edca;
}

.about-info-table-header {
    background-color: #ACD199;
    padding: 10px;
}

.about-img {
    object-fit: cover;
    width:400px;
    height:400px;
}

.about-info-header {
    background-color: #ACD199;
    padding: 10px;
}

.about-info-content {
    background-color: #c8e3ba;
    border: #ACD199;
    border-radius: 1px;
    padding: 0;
}

/*
 * Modal Page
 */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #8FAFBF;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close-modal-x {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal-x:hover,
.close-modal-x:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 5px 16px;
    background-color: #8FAFBF;
    color: white;
}

/* Modal Body */
.modal-body {padding: 20px 30px;}

.modal-buttons {
    display: flex;
    flex-direction: row;
    color: #b6d2e0;
}

.modal-label{
    color: white;
    float: left;

}

.modal-cancel-button{
    float: left;
}

.modal-submit-button{
    float: right;
}


/*
 * Caretaker styling
 */

.style-caretaker header {
    background-color: #b6d2e0;
}

.style-caretaker .nav-link {
    border: black;
    border-radius: 12px;
    margin-right: 4px;
    color: white;
}

.style-caretaker .nav-link:hover{
    background-color: #8FAFBF;
    color: white;
}

.style-caretaker .link-highlighted {
    background-color: #8FAFBF;
}

.style-caretaker .btn-primary{
    background-color: #b6d2e0;
    border: none;
}

.style-caretaker .btn-primary:hover {
    background-color: #8FAFBF;
}

.style-caretaker li.active{
    background-color: #e9f2f7 !important;
}

.style-caretaker .animal-overview-background-card {
    background-color: #e9f2f7;
}

.style-caretaker .animal-overview-header {
    background-color: #b8d6e6;
}

.style-caretaker .animal-overview-report-issue-btn {
    background-color: #b8d6e6;
}

.style-caretaker .animal-overview-report-issue-btn:hover {
    background-color: #a7c9db;
}

.style-caretaker .card-header {
    background-color: #b8d6e6;
    color: white;
    font-size: larger;
}

.style-caretaker .overview-card {
    background-color: #b8d6e6;
}

.style-caretaker .overview-card:hover {
    background-color: #8FAFBF;
}

.style-caretaker .animal-details-background-card {
    background-color: #e9f2f7;
}

.style-caretaker .animal-details-info-table-header {
    background-color: #b8d6e6;
}

.style-caretaker .animal-details-info-table {
    background-color: #dcecf5;
}

.style-caretaker .animal-comments{
    background-color: #dcecf5;
}

.style-caretaker .report-form-background-card {
    background-color: #e9f2f7;
}

.style-caretaker .report-form-info-table-header {
    background-color: #b8d6e6;
}

.style-caretaker .report-form-info-table {
    background-color: #dcecf5;
    border: #a5c7d9;
}

.style-caretaker .account-background-card {
    background-color: #e9f2f7;
}

.style-caretaker .account-info-table-header {
    background-color: #b8d6e6;
}

.style-caretaker .account-info-table {
    background-color: #dcecf5;
    border: #a5c7d9;
}

.style-caretaker .account-list-group {
    background-color: #dcecf5;
}

.style-caretaker .account-list-group:hover {
    background-color: #fff;
}


