body {
    background-color: white;
}

.th-sm {
    width: 10rem;
}

.errormessage {
    -webkit-text-fill-color: #ff0000;
}

.nav-link {
    border: black;
    border-radius: 12px;
    margin-right: 4px;
    color: white;
}

header {
    background-color: #ACD199;
}

.btn-primary{
    background-color: #ACD199;
    border: none;
}

.nav-link:hover{
    background-color: #8DAD7D;
    color: white;
}

.animalCardImg{
    border-radius: 50%;
}

.animalCard{
    text-align: center;
}

.btn-primary:hover {
    background-color: #8DAD7D;
}

.btn-secondary {
    background-color: #a8b4bf;
    border: none;
}

.container::after {
    display: block;
    clear: both;
}


