body {
    background-color: white;
}

.th-sm {
    width: 10rem;
}

.errormessage {
    -webkit-text-fill-color: #ff0000;
}

.nav-link {
    border: black;
    border-radius: 12px;
    margin-right: 4px;
    color: white;
}

header {
    background-color: #ACD199;
}

.btn-primary{
    background-color: #ACD199;
    border: none;
}

.nav-link:hover{
    background-color: #8DAD7D;
    color: white;
}

.animalCardImg{
    border-radius: 50%;
}

.animalCard{
    text-align: center;
}

.btn-primary:hover {
    background-color: #8DAD7D;
}

.btn-secondary {
    background-color: #a8b4bf;
    border: none;
}

.container::after {
    display: block;
    clear: both;
}
.card{
    padding: 20px;
    text-align: center;
    margin-left: 20px;
}

.hyperlink-no-styling {
    color: black;
    text-decoration: none;
}

.hyperlink-no-styling:hover {
    color: black;
}

.card-header {
    background-color: #ACD199;
    color: white;
    font-size: larger;
}

.list-group-flush {
    border-bottom: 1px solid;
    border-bottom-color: #dee2e6;
}

.img-fluid {
    max-width: 30%;
    height: auto;
}

.animal-search-bar {
    margin: -80px auto 20px;
    display: block;
}

.priority-mark {
    font-size: 20px;
    font-weight: bold;
}
.bi-exclamation-diamond-fill {
    text-shadow: 0 0 5px black;
}

.svg-img {
    width: 25px;
    height: 25px;
}

/*styling for caretakers*/
.style-caretaker header {
    background-color: #b6d2e0;
}

.style-caretaker .nav-link {
    border: black;
    border-radius: 12px;
    margin-right: 4px;
    color: white;
}

.style-caretaker .btn-primary{
    background-color: #b6d2e0;
    border: none;
}

.style-caretaker .nav-link:hover{
    background-color: #8FAFBF;
    color: white;
}

.style-caretaker .btn-primary:hover {
    background-color: #8FAFBF;
}

.style-caretaker .card-header {
    background-color: #b6d2e0;
    color: white;
    font-size: larger;
}







