<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>CrittR - Accounts</title>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
</head>
<body onload="searchUsers(null)">
<header th:replace="fragments/general :: navbar"></header>
<div class="user-container">
    <div class="filter-column">
        <div class="filter-column-header">
            <span>Role</span>
        </div>
        <ul class="list-group list-group-flush" id="role-list">
            <li class="list-group-item list-group-item-action" th:each="role : ${T(com.miw.databeestjes.crittr.model.UserRoleStatus).values()}"><a class="stretched-link hyperlink-no-styling" th:data-id="${role}" th:text="${role.displayName}"></a></li>
        </ul><br>
        <a class="btn btn-secondary all-items-button"  id="all-users-button" onclick="searchUsers(null)">All</a>
    </div>
    <div class="container">
        <main>
            <section class="py-3 container">
                <div class="row py-lg-3 animal-overview-background-card shadow justify-content-between">
                    <div class="col-lg-5 text-center text-white mt-4 animal-overview-header">
                        <h1 class="fw-light">Accounts</h1>
                    </div>
                    <div class="d-flex col-3 mt-4 align-items-center text-center">
                        <input type="text" class="caretaker-animal-search-bar" id="user-search-input" placeholder="Filter" oninput="searchUsers(null)">
                    </div>
                        <div class="d-flex p-4 justify-content-center">
                            <table class="table table-hover" >
                            <thead>
                            <tr>
                                <th scope="col">Email</th>
                                <th scope="col">Name</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody id="accountsTable">
                            </tbody>
                        </table>
                        </div>
                </div>
            </section>
        </main>
        <footer th:replace="fragments/general :: footer"></footer>
        <div th:replace="fragments/general :: bottomscripts"></div>
    </div>
</div>
</body>
</html>