<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>Animal overview</title>
</head>
<body>
<header th:replace="fragments/general :: navbar"></header>
<div class="container">
    <main>
        <section class="py-3 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Animals</h1>
                    <p class="lead text-muted">These are all the animals in the Petting Zoo</p>
                    <a sec:authorize="isAuthenticated()" th:href="@{/reports/new}" role="button" class="btn btn-primary my-2">Report issue</a>
                </div>
            </div>
        </section>
        <div>
            <form th:action="@{/animals/results}">
                Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />                &nbsp;
                <input class="btn btn-primary my-2" type="submit" value="Search" />                &nbsp;
                <input class="btn btn-secondary my-2" type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
            </form>
            <script type="text/javascript">
                function clearSearch() {
                    window.location = "[[@{/animals}]]";
                }
            </script>
        </div>
        <div class="overview py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="card" style="width: 18rem" th:each="animal : ${allAnimals}" >
                        <img class="card-img-top rounded-circle" src="../static/assets/goat2.png" th:src="@{/assets/goat2.png}" width="5">
                        <div class="card-body">
                            <h2 class="card-title" th:text="${animal.name}"></h2>
                            <p class="card-text" th:text="${animal.species.toString()}"></p>
                            <p class="card-text" th:text="${animal.getAge()}"></p>
                            <a th:href="@{/animals/details/{animalId}(animalId=${animal.animalId})}" class="btn btn-primary stretched-link link-table-rows">See details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>