<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>CrittR - Animal Details</title>
</head>
<body>
<header th:replace="fragments/general :: navbar"></header>
<div class="container">
    <main>
        <section class="py-3 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light"><span th:text="${animal.name}"></span> the <span th:text="${animal.species}"></span></h1>
                </div>
                <div class="py-5 mx-auto">
                    <img class="img-fluid rounded-circle" th:unless="${currentAnimalPicture} == ''" th:src="@{'data:image/jpeg;base64,'+ ${currentAnimalPicture}}" alt="This is a picture of this animal.">
                </div>
            </div>
        </section>
        <div class="overview">
            <div class="container">
                <div class="row row-cols-3 g-3 justify-content-around">
                    <div class="border rounded-2 py-4 px-4">
                        <h4>Biography</h4>
                        <p th:text="${animal.biography}"></p>
                    </div>
                    <div class="border rounded-2 py-4 px-4">
                        <h1>FUN FACT:</h1>
                        <p th:text="${funfact.fact}"></p>
                    </div>
                <div class="table-responsive">
                    <table class="table align-middle">
                        <tbody>
                        <tr>
                            <th class="th-sm" scope="row">Animal</th>
                            <td th:text="${animal.species}"></td>
                        </tr>
                        <tr>
                            <th class="th-sm" scope="row">Age</th>
                            <td th:text="${animal.age}"></td>
                        </tr>
                        <tr>
                            <th class="th-sm" scope="row">birthdate</th>
                            <td th:text="${animal.birthDate}"></td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>