<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>CrittR - Animal Details</title>
</head>
<body>
<header th:replace="fragments/general :: navbar"></header>
<div class="container">
    <main>
        <section class="py-3 container animal-details-background-card shadow">
            <div class="row py-lg-3  justify-content-between">
                <div class="col-5 mt-4 animal-details-info-table-header d-flex justify-content-evenly">
                    <h1 class="fw col-9"><span th:text="${animal.name}"></span> the <span th:text="${animal.species}"></span></h1>
                    <div class="col-1">
                        <label>
                            <input class="heart-img mt-2" th:classappend="${favourited} ? 'heart-img-clicked' : ''" th:id="'heart-img-' + ${animal.animalId}" type="image" src="/assets/heart-fill.svg" alt="FavouriteHeart" th:onclick="favouriteToggle([(${animal.animalId})])"/>
                            <div class="heart-overlay"><img class="heart-img mt-2 heart-outline" th:classappend="${favourited} ? 'heart-img-clicked' : ''" th:id="'heart-outline-' + ${animalId}" src="/assets/heart.svg" alt="heart outline"/></div>
                        </label>
                    </div>
                </div>
                <div class="col-2 mt-3 margin-report-btn">
                    <a th:href="@{/reports/new}" role="button" class="btn my-2 animal-details-report-issue-btn">Report issue</a>
                </div>
            </div>
            <div class="py-5 mx-2 row">
                <div class="col-5 align-items-center text-center ">
                    <img class="animal-details-img rounded-circle shadow" th:src="@{'data:image/jpeg;base64,'+ ${currentAnimalPicture}}" alt="This is a picture of this animal.">
                </div>
                <div class="col-3 pe-5 ">
                    <div class="row animal-details-info-table shadow">
                        <div class="animal-details-info-table-header">
                            <h4>Biography</h4>
                        </div>
                        <p class="border-bottom mt-2 pb-2" th:text="${animal.biography}"></p>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th class="th-sm" scope="row">Animal</th>
                                <td th:text="${animal.species}"></td>
                            </tr>
                            <tr>
                                <th class="th-sm" scope="row">Age</th>
                                <td th:text="${animal.age}"></td>
                            </tr>
                            <tr>
                                <th class="th-sm" scope="row">Birthday</th>
                                <td th:text="${#temporals.format(comment.dateTime, 'dd-MM-yyyy')}"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="row mt-5 animal-details-info-table shadow">
                        <div class="animal-details-info-table-header">
                            <h4>Fun Fact</h4>
                        </div>
                        <p class="mt-2" th:text="${funfact.fact}"></p>
                    </div>
                </div>
                <div class="col-md-3 ps-5 text-center">
                    <div class="animal-details-info-table shadow">
                        <h4 class="animal-details-info-table-header">Info for real scientists</h4><br>
                        <div th:if="${eduInfo.isEmpty()}">We're still studying this animal. More info coming soon!</div>
                        <dl th:each="info : ${eduInfo}">
                            <dt th:text="${info.infoCategory.getDisplayName()}" />
                            <dd th:text="${info.eduInfo}" />
                        </dl><br>
                    </div>
                </div>
                <div class="col-8 pt-3 ms-5">
                    <h4>Comments</h4>
                    <form class="row g-3" th:action="@{/comments/new}" method="post" th:object="${comment}">
                        <input type="hidden" th:field="*{commentId}"/>
                        <input type="hidden" th:field="${animal.animalId}"/>
                        <textarea class="form-control" placeholder="Leave a comment" id="comment" th:field="*{commentText}"></textarea>
                        <div class="col-2">
                            <input value="Send" type="submit" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
                <div>
                    <div class="container mt-5">
                        <div>
                            <div class="col-md-8 mb-2 animal-comments ms-3" style="position: relative" th:each="comment : ${allCommentsForAnimal}">
                                <div class="d-flex flex-column comment-section" >
                                    <div>
                                        <div><span class="d-block font-weight-bold name" th:text="${comment.commenter.getUsername()}"></span>
                                            <span class="date text-black-50" th:text="${#temporals.format(comment.dateTime, 'dd-MM-yyyy HH:mm')}"></span>
                                        </div>
                                        <p class="comment-text" th:text="${comment.commentText}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>