<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>CrittR - Animal Details</title>
</head>
<body th:onload="setButtonColours([(${animal.status.ordinal()})])">
<header th:replace="fragments/general :: navbar"></header>
<div class="container">
    <main>
        <section class="py-3 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Details of <span th:text="${animal.name}"></span></h1>
                </div>
            </div>
        </section>
        <div class="overview py-5">
            <div class="container row row-cols-3 g-3 justify-content-around">
                <div>
                    <div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th class="th-sm" scope="row">Species</th>
                                <td th:text="${animal.species}"></td>
                            </tr>
                            <tr>
                                <th class="th-sm" scope="row">Date of Birth</th>
                                <td th:text="${#temporals.format(animal.birthDate, 'dd-MM-yyyy')}"></td>
                            </tr>
                            <tr>
                                <th class="th-sm" scope="row">Age</th>
                                <td th:text="${animal.getAge()}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <a th:href="@{/animals/update/{animalId}(animalId=${animal.animalId})}" class="btn btn-sm btn-secondary" role="button">Edit</a>
                        </div><br>
                        <div class="gap-2 d-md-flex">
                            <form method="post" th:object="${animal}" th:action="@{/caretaker/animals/details/incoming/{animalId}(animalId = ${animal.animalId})}">
                                <input class="btn btn-secondary status-btn" id="btn-incoming" type="submit" value="Incoming"/>
                            </form>
                            <form method="post" th:object="${animal}" th:action="@{/caretaker/animals/details/present/{animalId}(animalId = ${animal.animalId})}">
                                <input class="btn btn-secondary status-btn" id="btn-present" type="submit" value="Present"/>
                            </form>
                            <form method="post" th:object="${animal}" th:action="@{/caretaker/animals/details/relocated/{animalId}(animalId = ${animal.animalId})}">
                                <input class="btn btn-secondary status-btn" id="btn-relocated" type="submit" value="Relocated"/>
                            </form>
                            <form method="post" th:object="${animal}" th:action="@{/caretaker/animals/details/deceased/{animalId}(animalId = ${animal.animalId})}">
                                <input class="btn btn-secondary status-btn" id="btn-deceased"  type="submit" value="Deceased"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div style="width: 18rem">
                    <div class="card-header"><span th:text="${animal.name}"></span>'s reports</div>
                    <ul class="list-group list-group-flush" th:each="report : ${allReports}">
                        <li class="list-group-item list-group-item-action"><a class="stretched-link hyperlink-no-styling" th:text="${report.issue}" th:href="@{/reports/details/{reportNr}(reportNr=${report.reportNumber})}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>