<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/caretakers.css}">
    <title>CrittR - Report Details</title>
</head>
<body onload="doButtonChange()">
<script type="text/javascript">
    function doButtonChange () {
        const currentStatus = [(${report.status.ordinal()})];
        setButtons(currentStatus);
    }
</script>
<header th:replace="fragments/general :: navbar"></header>
<input type="hidden" th:value="${report.status.ordinal()}" id="reportStatusHack">
<div class="container">
    <main>
        <section class="py-3 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Report nr <span th:text="${report.reportId}"></span></h1>
                </div>
            </div>
        </section>
        <div class="overview py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 g-3">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th class="th-sm" scope="row">Species</th>
                            <td class="list-group-item" th:text="${report.species}"></td>
                        </tr>
                        <tr>
                            <th class="th-sm" scope="row">Animal</th>
                            <td class="list-group-item" th:text="${animalName}"></td>
                        </tr>
                        <tr>
                            <th class="th-sm" scope="row">Issue</th>
                            <td class="list-group-item" th:text="${report.issue}"></td>
                        </tr>
                        <tr>
                            <th class="th-sm" scope="row">Description</th>
                            <td class="list-group-item" th:text="${report.description}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Status</th>
                            <td id="status-display" class="list-group-item" th:text="${report.status.displayName}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div sec:authorize="hasRole('CARETAKER')" class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <form id="accept-form" style="display : none" method="post" th:object="${report}" th:action="@{/reports/details/accept/{reportId}(reportId = ${report.reportId})}">
                            <input class="btn btn-primary" type="submit" id="accept-button" value="Accept"/>
                        </form>
                        <form id="discard-form" style="display : none" method="post" th:object="${report}" th:action="@{/reports/details/discard/{reportId}(reportId = ${report.reportId})}">
                            <input class="btn btn-secondary" type="submit" value="Discard"/>
                        </form>
                        <form id="observe-form" style="display : none"  method="post" th:object="${report}" th:action="@{/reports/details/observation/{reportId}(reportId = ${report.reportId})}">
                            <input class="btn btn-secondary" type="submit" value="Under observation"/>
                        </form>
                        <form id="close-form" style="display : none" method="post" th:object="${report}" th:action="@{/reports/details/closed/{reportId}(reportId = ${report.reportId})}">
                            <input class="btn btn-secondary" type="submit" value="Close"/>
                        </form>
                    </div>
                    <div th:if="${report.status.ordinal() == 0}">
                        <a th:href="@{/reports/details/edit/{reportId}(reportId=${report.reportId})}" class="btn btn-primary my-2" role="button">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>