<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>CrittR - Reports</title>
</head>
<body>
<header th:replace="fragments/general :: navbar"></header>
<div class="container">
    <main>
        <section class="py-3 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Reports</h1>
                    <p class="lead text-muted">All the reports that have been submitted</p>
                    <p><a th:href="@{/reports/new}" role="button" class="btn btn-primary my-2">Report Issue</a></p>
                </div>
            </div>
        </section>
        <div class="overview py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <table class="table table-hover table-wrap">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Species</th>
                            <th scope="col">Issue</th>
                            <th scope="col">Date submitted</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="position: relative" th:each="report : ${allReports}">
                            <td><a class="stretched-link hyperlink-no-styling" th:text="${report.reportNumber}" th:href="@{/reports/details/{reportNumber}(reportNumber=${report.reportNumber})}"></a></td>
                            <td th:text="${report.species}"></td>
                            <td th:text="${report.issue}"></td>
                            <td th:text="${#temporals.format(report.reportDate, 'dd-MM-yyyy HH:mm')}"></td>
                            <td th:text="${report.status.getDisplayName()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>