<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>Caretaker Animal overview</title>
</head>
<body class="animal-overview-body">
<header th:replace="fragments/general :: navbar"></header>
<div class="container">
    <main>
        <section class="py-3 container">
            <div class="row py-lg-3 report-overview-background-card shadow justify-content-between">
                <div class="col-lg-5 text-center text-white mt-4 report-overview-info-table-header">
                    <h1>Animal Overview</h1>
                </div>
                <div class="d-flex col-3 mt-4 align-items-end">
                    <input type="text" class="caretaker-animal-search-bar" id="animal-search-input" placeholder="Filter" oninput="searchAnimals(null, $('#animal-search-input').val())"/>
                </div>
                <div class="col-2 mt-4 align-items-end toggle-column">
                    <div class="toggle-animal-button d-flex justify-content-end">
                        <p class="text-muted">Toggle overview</p>
                        <a th:href="@{/animals}">
                            <img height="25" width="50" src="../static/assets/toggleoff.png" th:src="@{/assets/toggleoff.png}" sec:authorize="hasRole('CARETAKER') or hasRole('ADMIN')">
                        </a>
                    </div>
                    <a th:href="@{/animals/new}" role="button" class="btn ct-animal-overview-add-animal-btn">Add animal</a>
                </div>
                <div class="d-flex p-4 justify-content-center">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Animal</th>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody id="animalsTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>