<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>Add fun fact</title>
</head>
<body>
<header th:replace="fragments/general :: navbar"></header>
<div class="container">
    <main>
        <div class="col-lg-8">
            <h1>Add fun fact</h1>
            <form class="row g-3" th:action="@{/facts/new}" method="post" th:object="${funfact}">
                <div class="col-8">
                    <label class="form-label" for="fact">Fact</label>
                    <input class="form-control" placeholder="Enter a fun fact" id="fact" type="text" th:field="*{fact}"/>
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="species">Species</label>
                    <input class="form-control" placeholder="E.g. Goat " id="species" type="text" th:field="*{species}">
                </div><br>
                <div class="col-10">
                    <input value="Add fact" type="submit" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </main>

    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>