<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>Home</title>
</head>
<body>
<header th:replace="fragments/general :: navbar"></header>
<div class="container">
    <main>
        <section class="py-3 container home-background-card shadow">
            <div class="row py-lg-3  justify-content-center">
                <div class="col-5 mt-4 animal-details-info-table-header text-center">
                    <h1 class="fw">CrittR</h1>
                    <h3 class="fw-light">Welcome to your CrittR Petting Zoo!</h3><br>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="home-card m-2">
                    <div class="card-body">
                        <h3 class="centered-text-home fw-light">Animals</h3>
                        <a th:href="@{/animals}" class="stretched-link" role="button"></a>
                    </div>

                </div>
                <div class="home-card m-2">
                    <div class="card-body">
                        <h3 class="centered-text-home fw-light" >Report a problem</h3>
                        <a th:href="@{/reports/new}" role="button" class="stretched-link"></a>
                    </div>
                </div>
                <div sec:authorize="isAnonymous()" class="home-card m-2">
                    <div class="card-body">
                        <h3 class="centered-text-home fw-light" >Become a member!</h3>
                        <a th:href="@{/users/new}" role="button" class="stretched-link"></a>
                    </div>
                </div>
                <div sec:authorize="hasRole('CARETAKER') or hasRole('ADMIN')" class="home-card m-2">
                    <div class="card-body">
                        <h3 class="centered-text-home fw-light">Add a fun fact</h3>
                        <a sec:authorize="hasRole('CARETAKER') or hasRole('ADMIN')" id="modalButton" role="button" class="stretched-link" ></a>
                    </div>
                </div>
            </div>
            <!-- Trigger/Open The Modal -->

            <!-- The Modal -->
            <div class="container">
                <div id="modal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Add a new fact</h2>
                            <span class="close-modal-x">&times;</span>
                        </div>
                        <div class="modal-form">
                            <form class="row g-3" th:action="@{/facts/new}" method="post" th:object="${funfact}">
                                <div class="col-12">
                                    <label  class="form-label modal-label" for="funfact">Fun Fact</label>
                                    <textarea class="form-control" placeholder="Enter a fun fact" id="funfact" th:field="*{fact}"></textarea>
                                </div><br>
                                <div class="col-12">
                                    <label style="color: white" class="form-label modal-label" for="species">Species</label>
                                    <input class="form-control" placeholder="e.g. Goat" id="Species" type="text" th:field="*{species}"/>
                                </div>
                                <br>
                                <div class="modal-buttons d-flex justify-content-between">
                                    <div class="modal-cancel-button">
                                        <a class="btn my-2 modal-cancel-btn">Cancel</a>
                                    </div>
                                    <div class="modal-submit-button ">
                                        <input value="Add Fact" type="submit" class="btn modal-submit-btn my-2"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>
</section>
</main>
<footer th:replace="fragments/general :: footer"></footer>
<div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>