<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})">
  <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
  <title>Login</title>
</head>
<body>
<header th:replace="fragments/general :: navbar"></header>
<div class="container">
  <main>
    <section class="container py-3 text-center">
      <div class="row py-3">
        <h1 class="fw-light">Please sign in</h1>
      </div>
    </section>
    <div class="container row row-cols-3 g-3 justify-content-center">
      <form th:action="@{/login}" method="post">
        <div th:if="${param.error}">
          <div class="alert alert-danger">
            Invalid username or password.
          </div>
        </div>
        <div>
          <label class="form-label" for="email">Email</label>
          <input class="form-control" name="email" placeholder="Email" id="email" type="text"/>
        </div><br>
        <div>
          <label class="form-label" for="password">Password</label>
          <input class="form-control" name="password" placeholder="Password" id="password" type="password"/>
        </div><br>
        <div>
          <input id="loginButton" value="Sign in" type="submit" class="btn btn-primary"/>
        </div><br>
      </form>
    </div>
  </main>
  <footer th:replace="fragments/general :: footer"></footer>
  <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>