<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title})">
    <title>New report</title>
</head>
<body>
<div class="container">
    <header th:replace="fragments/general :: navbar"></header>
    <main>
        <div class="col-lg-8">
            <h1>File Report</h1>
            <form class="row g-3" th:action="@{/reports/new}" method="post" th:object="${report}">
                <input type="hidden" th:field="*{reportId}"/>
                <div class="col-8">
                    <label class="form-label" for="SpeciesInput">Species:*</label>
                    <input class="form-control" id="SpeciesInput" type="text" th:field="*{species}">
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="AnimalNameInput">Animal:</label>
                    <select class="form-select" size="5" aria-label="size 5 select example" id="AnimalNameInput" th:field="*{animal}">
                        <option th:each="animal : ${allAnimals}" th:value="${animal.animalId}" th:text="${animal.name}"></option>
                    </select>
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="IssueInput">Issue:*</label>
                    <input class="form-control" type="text" id="IssueInput" th:field="*{issue}"/>
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="DescriptionInput">Description:</label>
                    <textarea class="form-control" id="DescriptionInput" name="description" th:field="*{description}">
                    Tell us more
                </textarea>
                </div><br>
                <div class="col-10">
                    <input value="Send" type="submit" class="btn btn-primary"/>
                </div><br>
                <div class="col-10">
                    <p class="text-black-50">*Mandatory</p>
                </div>
            </form>
        </div>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>