<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title})">
    <title>New report</title>
</head>
<body>
<div class="container">
    <header th:replace="fragments/general :: navbar"></header>
    <main>
        <div class="col-lg-8">
            <h1>File Report</h1>
            <form class="row g-3" th:action="@{/reports/new}" method="post" th:object="${report}">
                <input type="hidden" th:field="*{reportId}"/>
                <div class="col-8">
                    <label class="form-label" for="SpeciesInput">Species:*</label>
                    <input class="form-control" id="SpeciesInput" type="text" th:field="*{species}">
                    <p class="errormessage" th:if="${#fields.hasErrors('species')}">Please enter the species</p>
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="animalInput">Animal name:</label>
                    <input class="form-control" id="animalInput" type="text" th:field="*{animalName}">
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="IssueInput">Issue:*</label>
                    <input class="form-control" type="text" id="IssueInput" th:field="*{issue}"/>
                    <p class="errormessage" th:if="${#fields.hasErrors('issue')}">Please state the issue</p>
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="DescriptionInput">Description:</label>
                    <textarea class="form-control" id="DescriptionInput" name="description" th:field="*{description}">
                    Tell us more
                </textarea>
                </div><br>
                <div class="col-10">
                    <input value="Send" type="submit" class="btn btn-primary"/>
                </div><br>
                <div class="col-10">
                    <p class="text-black-50">*Mandatory</p>
                </div>
            </form>
        </div>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>