<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title})">
    <title>CrittR - New Report</title>
</head>
<body>
<header th:replace="fragments/general :: navbar"></header>
<div class="container">
    <main>
        <div class="col-lg-8">
            <h1>Report an issue</h1>
            <form class="row g-3" th:action="@{/reports/new}" method="post" th:object="${report}">
                <input type="hidden" th:field="*{reportId}"/>
                <div class="col-8">
                    <label class="form-label" for="SpeciesInput">Species:*</label>
                    <input class="form-control" id="SpeciesInput" type="text" placeholder="e.g. 'Goat'" th:field="*{species}">
                    <p class="errormessage" th:if="${#fields.hasErrors('species')}">Please provide the species</p>
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="animalInput">Animal name:</label>
                    <input class="form-control" id="animalInput" type="text"
                           placeholder="leave empty if unknown" th:field="*{animalName}">
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="IssueInput">Issue:*</label>
                    <input class="form-control" type="text" id="IssueInput" placeholder="e.g. 'broken leg'" th:field="*{issue}"/>
                    <p class="errormessage" th:if="${#fields.hasErrors('issue')}">Please provide the issue</p>
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="DescriptionInput">Description:</label>
                    <textarea class="form-control" id="DescriptionInput" name="description" placeholder="tell us more" th:field="*{description}"></textarea>
                </div><br>
                <div class="col-10">
                    <input value="Send" type="submit" class="btn btn-primary"/>
                </div><br>
                <div class="col-10">
                    <p class="text-black-50">*Mandatory</p>
                </div>
            </form>
        </div>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>