<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>CrittR - Report details</title>
</head>
<body>
<div class="container">
    <header th:replace="fragments/general :: navbar"></header>
    <main>
        <section class="py-3 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Report nr <span th:text="${report.reportNumber}"></span></h1>
                </div>
            </div>
        </section>
        <div class="overview py-5">
            <div class="container row row-cols-2 g-3 justify-content-around">
                <div>
                    <div class="table-responsive">
                        <table class="table align-middle">
                            <tbody>
                            <tr>
                                <th class="th-sm" scope="row">Species</th>
                                <td th:text="${report.species}"></td>
                            </tr>
                            <tr>
                                <th class="th-sm" scope="row">Animal</th>
                                <td th:text="${animalName}"></td>
                            </tr>
                            <tr>
                                <th class="th-sm" scope="row">Issue</th>
                                <td th:text="${report.issue}"></td>
                            </tr>
                            <tr>
                                <th class="th-sm" scope="row">Description</th>
                                <td class="" th:text="${report.description}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>