<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>CrittR - Sign Up</title>
</head>
<body onload="setErrorField()">
<header th:replace="fragments/general :: navbar"></header>
<div class="container">
    <main>
        <section class="py-3 container">
            <div class="row py-lg-3 user-form-background-card shadow">
                <div class="py-5">
                    <div class="container row row-cols-2 justify-content-center">
                        <div class="user-form-info-table shadow">
                            <div class="user-form-info-table-header">
                                <h3>Create Account</h3>
                            </div>
                            <div>
                                <form class="row g-3 p-2 ps-4" th:action="@{/users/new}" method="post" th:object="${user}">
                                    <input type="hidden" th:field="*{userId}"/>
                                    <div class="col-9 pt-2">
                                        <label class="form-label" for="email">Email*</label>
                                        <input class="form-control" placeholder="Email" id="email" type="text" th:field="*{email}"/>
                                        <p class="errormessage" id="uniquenessError" th:text="${uniquenessError}" />
                                        <p class="errormessage" th:if="${#fields.hasErrors('email')}">Please enter a valid email address</p>
                                    </div>
                                    <div class="col-9">
                                        <label class="form-label" for="username">Name*</label>
                                        <input class="form-control" placeholder="Name" id="username" type="text" th:field="*{username}"/>
                                        <p class="errormessage" th:if="${#fields.hasErrors('username')}">Please enter your name</p>
                                    </div>
                                    <div class="col-9">
                                        <label class="form-label" for="password">Password*</label>
                                        <input class="form-control" placeholder="Password" id="password" type="password" th:field="*{password}" onkeyup='checkPassword()'>
                                        <p class="errormessage" th:if="${#fields.hasErrors('password')}">Please enter a strong password</p>
                                    </div>
                                    <div class="col-9">
                                        <label class="form-label" for="confirm_password">Confirm Password*</label>
                                        <input class="form-control" placeholder="Confirm Password" id="confirm_password" type="password" onkeyup='checkPassword()'>
                                    </div>
                                    <div><p id='message' class="errormessage" style="visibility: hidden">Passwords don't match, please try again.</p></div><br>
                                    <div class="col-9 d-flex justify-content-between">
                                        <div class="col-2">
                                            <a class="btn btn-primary cancel-button" th:href="@{/home}">Cancel</a>
                                        </div>
                                        <div class="col-2">
                                            <input id="signUpButton" value="Sign up" type="submit" class="btn btn-secondary buttonDisableable" disabled/>
                                        </div>
                                    </div><br>
                                    <div class="col-10">
                                        <p class="text-black-50">*Mandatory</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>