<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseheader(~{:: title}, ~{:: link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <title>CrittR - Edit Account</title>
</head>
<body>
<header th:replace="fragments/general :: navbar"></header>
<div class="container">
    <main>
        <div class="col-lg-8">
            <h1>Edit Account</h1>
            <form class="row g-3" th:action="@{/user/details/edit/{userId}(userId=${user.userId})}" method="post" th:object="${user}">
                <input type="hidden" th:field="*{userId}"/>
                <div class="col-8">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" placeholder="Email" id="email" type="text" th:field="*{email}"/>
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="username">Name*</label>
                    <input class="form-control" placeholder="Name" id="username" type="text" th:field="*{username}"/>
                    <p class="errormessage" th:if="${#fields.hasErrors('username')}">Please enter your name</p>
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="password">Password*</label>
                    <input class="form-control" placeholder="Password" id="password" type="password" th:field="*{password}" onkeyup='checkPassword()'>
                    <p class="errormessage" th:if="${#fields.hasErrors('password')}">Please enter a strong password</p>
                </div><br>
                <div class="col-8">
                    <label class="form-label" for="confirm_password">Confirm Password*</label>
                    <input class="form-control" placeholder="Confirm Password" id="confirm_password" type="password" onkeyup='checkPassword()'>
                </div><br>
                <div><p id='message' class="errormessage" style="visibility: hidden">Passwords don't match, please try again.</p></div><br>
                <div sec:authorize="hasRole('ADMIN')" th:each="userRole : ${T(com.miw.databeestjes.crittr.model.UserRoleStatus).values()}">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="userRoleRadio" id="userRoleMember" th:value="${userRole}" th:field="*{role}" >
                    <label class="form-check-label" for="userRoleMember" th:text="${userRole.displayName}"></label>
                </div>
                </div>
                <div class="col-10">
                    <input id="saveButton" value="Save" type="submit" class="btn btn-primary buttonDisableable"/>
                </div><br>
                <div class="col-10">
                    <p class="text-black-50">*Mandatory</p>
                </div>
            </form>
            <div class="col-10">
                <form class="row g-3" th:action="@{/user/details/delete/{userId}(userId=${user.userId})}" method="get" th:object="${user}">
                    <div>
                        <input value="Delete account" type="submit" class="btn btn-primary"/>
                    </div>
                </form>
            </div><br>
        </div>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
    <div th:replace="fragments/general :: bottomscripts"></div>
</div>
</body>
</html>